$backgroundColor: #231c2f;
// $backgroundColor: #434343;
$titleColor: #e87a90;
$dateColor: #fcfaf2;
$fontColor: #fedfe1;

body {
  background-color: $backgroundColor !important;
  color: $fontColor !important;
  font-family: source-han-sans-simplified-c, sans-serif !important;
  font-weight: 200 !important;
  font-style: normal !important;
}

// article title
.css-title {
  font-family: source-han-sans-simplified-c, sans-serif;
  color: $titleColor;
  font-weight: 400;
  margin: 0;
}

.css-date {
  color: $dateColor;
}
.css-tags {
  display: inline-flex;
}
.css-tag {
  background-color: $titleColor;
  border-radius: 5px;
  padding: 0 0.5rem;
  margin: 0.5rem 0.5rem 0.8rem 0;
}
a {
  color: $titleColor !important;
}
blockquote {
  color: $fontColor !important;
  border-left: 0.32813rem solid $titleColor !important;
}
h1 .website-name{
  padding: 0;
  left: 0;
  font-family: source-han-sans-simplified-c, sans-serif;
  color: $titleColor;
  font-weight: 400;
  margin: 0;
}