$backgroundColor: #fcfaf2;
$titleColor: #e87a90;
$dateColor: #b19693;
$fontColor: #533d5b;

// article title
.css-title {
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif !important;
  margin-bottom: 0.5rem;
  color: $titleColor;
  font-weight: 400;
}

a {
  color: $titleColor !important;
  box-shadow: none !important;
}
a:hover,
a:active {
  box-shadow: 0 1px 0 0 currentColor !important;
}

.css-info {
  color: $dateColor;
  margin-bottom: 3rem;
}

.css-tag {
  color: $fontColor;
  padding: 0 0 0 0.5rem;
}

.css-comment-submit {
  h3 {
    span {
      font-size: 0.5em;
    }
  }
  p {
    margin: 8px 0;
  }
  textarea {
    resize: none;
  }
  input,
  textarea {
    border: none;
  }
  input,
  textarea,
  button {
    display: block;
    width: 100%;
    border-radius: 5px;
  }
  button {
    margin: 16px 0;
  }
}
.css-comment-display {
  .name {
    margin-top: 30px;
    color: $titleColor;
    font-weight: 300;
  }
  .date {
    color: $dateColor;
    font: 0.8rem;
    padding: 0 0 0 15px;
  }
  .message {
  }
}

.css-toc {
  color: $titleColor;
  padding: 15px;
  background: #fcfaf2;
  margin-bottom: 25px;
  > ul {
    padding-left: 16px;
  }
  ul {
    list-style-type: square;
    list-style-position: outside;
    margin-bottom: 0;
    p {
      vertical-align: top;
      display: inline-block;
    }
  }
  li {
    margin-bottom: 0;
  }
  li > p {
    margin-bottom: 0;
  }
  li > ul {
    margin-top: 0;
  }
}

@media screen and (min-width: 1045px) {
  .css-toc {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    max-height: 400px;
    overflow: scroll;
    font-size: 14px;
    li > ul {
      margin-left: 1rem;
    }
  }
}
