.say {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  .avatar {
    height: 80px;
    width: 80px;
    background-image: url('https://ssshooter.com/static/22e30c75525e05dc5a66a8f1a6aca473/fe107/avatar.png');
    background-size: cover;
  }
  .balloon2-left {
    position: relative;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    color: #555;
    font-size: 16px;
    background: #fff;
    border: solid 3px #555;
    box-sizing: border-box;
    width: calc(100% - 100px);
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: -24px;
      margin-top: -12px;
      border: 12px solid transparent;
      border-right: 12px solid #fff;
      z-index: 2;
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: -30px;
      margin-top: -14px;
      border: 14px solid transparent;
      border-right: 14px solid #555;
      z-index: 1;
    }
  }
}
