blockquote {
  position: relative;
  padding: 35px 15px 10px 15px;
  margin: 10px;
  box-sizing: border-box;
  color: #777777;
  border-left: 4px solid $mainDerive2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
}

blockquote:before {
  display: inline-block;
  position: absolute;
  top: 5px;
  left: 5px;
  vertical-align: middle;
  content: '\e66c';
  font-family: iconfont;
  color: $mainDerive2;
  font-size: 35px;
  line-height: 1;
}

blockquote p {
  padding: 0;
  margin: 7px 0;
  line-height: 1.7;
}

blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}
