.css-comment-submit {
  max-width: 400px;
  margin: 40px auto;
  .title {
    margin-bottom: 12px;
  }
  input,
  button,
  textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
  }

  input,
  textarea {
    font-family: sans-serif;
    height: 2rem;
    line-height: 2rem;
    margin: 1rem 0;
    border: none;
    margin: 0 0 10px 0;
    padding: 0 10px;
    background-color: var(--backgroundColor2);
    border-radius: 3px;
  }
  textarea {
    height: 6rem;
  }

  .row {
    display: flex;
    justify-content: space-around;
    p {
      flex-basis: 200px;
    }
  }
}
.css-comment-display,
.css-child-comment-display {
  .css-reply {
    opacity: 0;
  }
  &:hover .css-reply {
    opacity: 1;
  }
  .name {
    color: var(--mainColor);
    font-weight: 300;
  }
  .date {
    color: var(--mainDerive1);
    font: 0.8rem;
    padding: 0 0 0 15px;
  }
  .message {
    white-space: pre-wrap;
  }
}
.css-comment-display {
  padding: 20px;
  border-bottom: 1px solid var(--hrColor);
}
.css-child-comment-display {
  padding: 20px;
  margin-left: 30px;
  border-bottom: 1px solid var(--hrColor);
}
