.css-comment-submit {
  max-width: 400px;
  margin: 40px auto;
  input,
  button {
    display: block;
    box-sizing: border-box;
    width: 100%;
  }
  .row {
    display: flex;
    justify-content: space-around;
    p {
      flex-basis: 200px;
    }
  }
}
.css-comment-display,.css-child-comment-display {
  .css-reply{
    opacity: 0;
  }
  &:hover .css-reply{
    opacity: 1;
  }
  .name {
    color: $mainColor;
    font-weight: 300;
  }
  .date {
    color: $mainDerive1;
    font: 0.8rem;
    padding: 0 0 0 15px;
  }
}
.css-comment-display{
  padding: 20px;
  border-bottom: 1px solid #eee;
}
.css-child-comment-display {
  padding: 20px;
  margin-left: 30px;
  border-bottom: 1px solid #eee;
}