h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--linkColor);
}

h1 {
  font-size: 29px;
  margin-bottom: 0;
  color: var(--mainColor);
  font-weight: 400;
}

h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin: 0.5em 0;
}
