h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: var(--linkColor);
}

h1 {
  font-size: 29px;
  // color: var(--mainColor);
}

h2,
h3,
h4,
h5,
h6 {
  position: relative;
  left: -10px;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-left: 8px;
  border-left: 2px solid var(--linkColor);
}
