@font-face {
  font-family: "iconfont"; /* Project id 1042209 */
  src: url('/iconfont.woff2?t=1656845608828') format('woff2'),
       url('/iconfont.woff?t=1656845608828') format('woff'),
       url('/iconfont.ttf?t=1656845608828') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discount:before {
  content: "\e66d";
}

.icon-electronics:before {
  content: "\e66e";
}

.icon-explain:before {
  content: "\e66f";
}

.icon-link1:before {
  content: "\e676";
}

.icon-loading:before {
  content: "\e678";
}

.icon-picture:before {
  content: "\e67c";
}

.icon-save:before {
  content: "\e67d";
}

.icon-user1:before {
  content: "\e682";
}

.icon-close1:before {
  content: "\e668";
}

.icon-menu1:before {
  content: "\e677";
}

.icon-hash:before {
  content: "\e654";
}

.icon-RSS:before {
  content: "\e604";
}

.icon-zhuangshiyongyinhao:before {
  content: "\e66c";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-meh:before {
  content: "\e780";
}

.icon-experiment:before {
  content: "\e7c3";
}

.icon-zhihu:before {
  content: "\e87c";
}

.icon-linkedin:before {
  content: "\e87d";
}

.icon-yuque:before {
  content: "\e880";
}

.icon-twitter:before {
  content: "\e882";
}

.icon-weibo:before {
  content: "\e883";
}

