.link-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  .noimage {
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    font-family: sans-serif;
    font-size: 75px;
    font-weight: bold;
  }
  img {
    height: 100px;
    width: 100px;
  }
  .info {
    flex-grow: 1;
    padding-left: 10px;
    .title {
      font-size: 1.2rem;
    }
    .descript {
      color: #aaa;
    }
  }
}
