.link-card {
  width: 49%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  .noimage {
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
    font-family: sans-serif;
    font-size: 65px;
    font-weight: bold;
  }
  img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    object-position: left;
    margin: 0 !important;
  }
  .info {
    flex-grow: 1;
    padding-left: 10px;
    .title {
      font-size: 1.2rem;
    }
    .descript {
      color: #aaa;
    }
  }
}
.link-card-wrapper{
  box-shadow: none;
}