.link-card {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  .noimage {
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
    font-family: sans-serif;
    font-size: 65px;
    font-weight: bold;
  }
  img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    object-position: left;
    margin: 0 !important;
  }
  .info {
    flex-grow: 1;
    padding-left: 10px;
    min-width: 0; // 加了才能用溢出省略号
    .title {
      font-size: 1.2rem;
    }
    .descript {
      font-size: 0.9rem;
      color: #aaa;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.link-card-wrapper {
  box-shadow: none;
  float: left;
  width: 50%;
  padding:6px;
  box-sizing: border-box;
}
.wrapper-wrapper {
  overflow: hidden;
}
