.list-item {
  .list-title {
    margin-top: 30px;
    font-weight: 200;
    font-size: 26px;
    line-height: 1.3;
    a {
      color: $fontColor;
      &:hover {
        color: $mainColor;
      }
    }
  }

  .list-date {
    margin-bottom: 20px;
    color: $mainDerive1;
  }
  .list-excerpt {
    margin-top: 10px;
    line-height: 1.6;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
}
