.list-item {
  .list-title {
    margin-top: 30px;
    font-size: 26px;
    line-height: 1.3;
    a {
      color: --mainColor;
      &:hover {
        color: --mainDerive2;
      }
    }
  }

  .list-date {
    margin-top: 6px;
    margin-bottom: 16px;
    color: --mainDerive1;
  }
  .list-excerpt {
    margin-top: 10px;
    line-height: 1.6;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--divider);
    word-break: break-all;
  }
}
