.column {
  flex-direction: column;
  align-items: center;
}

.row {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.css-menu {
  margin: 10px auto;
  display: flex;
  a {
    color: $mainDerive4;
    font-size: 1.1rem;
    box-shadow: none;
    position: relative;
    display: inline-block;
    padding: 0.25em 1em;
    line-height: 1.4;
    &:hover {
      opacity: 0.5;
    }
  }

  a:before,
  a:after {
    position: relative;
    display: inline-block;
    font-size: 1em;
    color: inherit;
  }
  a:before {
    content: '<'; /*アイコン種類*/
    padding-right: 0.5em;
  }
  a:after {
    content: '>'; /*アイコン種類*/
    padding-left: 0.5em;
  }
}
