.column {
  flex-direction: column;
  align-items: center;
}

.row {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  a {
    border: none !important;
  }
}

.css-menu {
  margin: 10px auto;
  display: flex;
  a {
    vertical-align: middle;
    color: var(--mainDerive4);
    font-size: 1.1rem;
    box-shadow: none;
    position: relative;
    display: inline-block;
    padding: 0.25em 1em;
    line-height: 1.8;
    word-spacing: 5px;
    letter-spacing: 7px;
    &:hover {
      color: var(--mainDerive3);
    }
    .iconfont {
      vertical-align: middle;
      font-size: 1.5rem;
      margin-right: 1rem;
    }
  }
  a + a {
    border-top: solid 1px var(--divider);
  }
}
