.petal:nth-child(2) {
  animation-name: fall2;
  animation-delay: 1.25s;
  top: 10%;
}
.petal:nth-child(3) {
  animation-name: fall3;
  animation-delay: 3.65s;
  top: 25%;
}
.petal:nth-child(4) {
  animation-name: fall4;
  animation-delay: 8.15s;
  top: 30%;
}
.petal:nth-child(5) {
  animation-name: fall5;
  animation-delay: 5.35s;
  top: 50%;
}
.petal:nth-child(6) {
  animation-name: fall6;
  animation-delay: 6s;
  top: 75%;
}

.petal:nth-child(7) {
  animation-name: fall2;
  animation-delay: 9.25s;
  top: 10%;
}
.petal:nth-child(8) {
  animation-name: fall3;
  animation-delay: 2.65s;
  top: 25%;
}
.petal:nth-child(9) {
  animation-name: fall4;
  animation-delay: 0.15s;
  top: 30%;
}
.petal:nth-child(10) {
  animation-name: fall5;
  animation-delay: 7.25s;
  top: 50%;
}
.petal:nth-child(11) {
  animation-name: fall6;
  animation-delay: 0.25s;
  top: 75%;
}

.petal:nth-child(12) {
  animation-name: fall6;
  animation-delay: 1.75s;
  top: 85%;
}

@keyframes fall1 {
  to {
    transform: translateY(200px) translateX(2560px) translateZ(200px)
      rotate3d(1, 0.25, 0, 320deg);
  }
}

@keyframes fall2 {
  to {
    transform: translateY(150px) translateX(2560px) translateZ(500px)
      rotate3d(1, 0.25, 0.25, 220deg);
  }
}

@keyframes fall3 {
  to {
    transform: translateY(150px) translateX(2560px) translateZ(300px)
      rotate3d(0.25, 1, 1, 420deg);
  }
}

@keyframes fall4 {
  to {
    transform: translateY(-160px) translateX(2560px) translateZ(-500px)
      rotate3d(1, 1, 0.25, 720deg);
  }
}

@keyframes fall5 {
  to {
    transform: translateY(-200px) translateX(2560px) translateZ(400px)
      rotate3d(0.25, 1, 0.25, 820deg);
  }
}

@keyframes fall6 {
  to {
    transform: translateY(-300px) translateX(2560px) translateZ(-100px)
      rotate3d(1, 1, 1, 720deg);
  }
}
