.css-toc {
  display: block;
  position: sticky;
  top: 30px;
  max-height: 80vh;
  color: --mainDerive1;
  padding: 15px;
  margin-top: 25px;
  overflow-y: auto;
  overflow-x: hidden;
  > ul {
    padding-left: 10px;
  }
  ul {
    list-style-type: none;
    margin-bottom: 0;
    p {
      vertical-align: top;
      display: inline-block;
    }
  }
  li {
    margin-bottom: 12px;
  }
  li > p {
    line-height: 1.5;
    margin: 0;
  }
  li > ul {
    margin-top: 12px;
    margin-left: -1rem;
  }
}

.css-toc {
  margin: 2em 0;
  padding: 25px 10px 7px;
  border: solid 1px --mainDerive1;
  a {
    color: --mainDerive1;
    box-shadow: none;
  }
  .active {
    color: --mainColor;
  }
}
.css-toc .box-title {
  position: absolute;
  display: inline-block;
  top: -1px;
  left: -1px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  font-size: 17px;
  background: --mainDerive1;
  color: #ffffff;
  font-weight: bold;
}
.css-toc p {
  margin: 0;
  padding: 0;
}
