$backgroundColor: #434343;
$titleColor: #e87a90;
$dateColor: #fedfe1;
$fontColor: #fcfaf2;

body {
  background-color: $backgroundColor;
  color: $fontColor;
  font-family: source-han-sans-simplified-c, sans-serif;
  font-weight: 200;
  font-style: normal;
}

blockquote {
  color: $fontColor;
  border-left: 0.32813rem solid $titleColor;
}

.css-title {
  font-family: source-han-sans-simplified-c, sans-serif;
  color: $titleColor;
  font-weight: 400;
}
.css-date {
  color: $dateColor;
  margin-bottom: 1rem;
}
.css-tags {
  display: inline-flex;
}
.css-tag {
  background-color: $titleColor;
  border-radius: 5px;
  padding: 3px 5px;
  margin: 3px;
}
a {
  color: $titleColor;
}
